.companyName{
    font-size:24pt;
    color:gray;
    font-weight: 700;
}
.descripton{
    font-size: 18pt;
    color:rgb(153, 153, 153)
}
.buttonBar{
    border-top:1px solid rgb(194, 194, 194);
    border-bottom:1px solid rgb(194, 194, 194);
    border-radius: 1px ;
}